/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap';

//$font-family: "Roboto Condensed";
$font-family-sans-serif: "Roboto Condensed", sans-serif;
$presentation-heading-color: #fafcfd;
//$presentation-title-slide-text-align: "left";
$footer-font-size: 0.3rem !default;

// colors
$body-bg: #161633 !default;
$my-blue-color: #62ADF4 !default;
// headings

/*-- scss:rules --*/

// footer
.footer {
    font-size: x-small;
    color: $my-blue-color !important;
}

.slide-number,
.reveal.has-logo .slide-number {
    bottom: 10px !important;
    right: 10px !important;
    top: unset !important;
    color: $my-blue-color !important;
    font-size: x-small;
}